<!-- uploadsQueueStart -->
<%? !queue_expanded %>
					<h4><a class="noline" href="?queue_expand=<%= queue_id %>">+ <%= queue_caption %></a>
<%? queue_transfers %>
					(<%= queue_transfers %> active / <%= queue_queued %> queued, using <%= queue_bandwidth %>)
<%?%>
					</h4>
<%?%><%? queue_expanded %>
					<h4><a class="noline" href="?queue_collapse=<%= queue_id %>">- <%= queue_caption %></a>
<%? queue_transfers %>
					(<%= queue_transfers %> active / <%= queue_queued %> queued, using <%= queue_bandwidth %>)
<%?%>
					</h4>
				<div class="centertable">
					<table>
						<tr>
							<th>File</th>
							<th>User</th>
							<th>Size</th>
							<th>Speed</th>
							<th>User-Agent</th>
							<th></th>
						</tr>
<%?%>
<!-- /uploadsQueueStart -->