<!-- uploadsQueueStart -->
<%? !queue_expanded %>
					<h4><a class="noline" href="?queue_expand=<%= queue_id %>">+ <%= queue_caption %></a>
<%? queue_transfers %>
					(<%= queue_transfers %> aktyvūs / <%= queue_queued %> eilėje, naudojama <%= queue_bandwidth %>)
<%?%>
					</h4>
<%?%><%? queue_expanded %>
					<h4><a class="noline" href="?queue_collapse=<%= queue_id %>">- <%= queue_caption %></a>
<%? queue_transfers %>
					(<%= queue_transfers %> aktyvūs / <%= queue_queued %> eilėje, naudojama <%= queue_bandwidth %>)
<%?%>
					</h4>
				<div class="centertable">
					<table>
						<tr>
							<th>Failas</th>
							<th>Naudotojas</th>
							<th>Dydis</th>
							<th>Sparta</th>
							<th>Naudotojo agentas</th>
							<th></th>
						</tr>
<%?%>
<!-- /uploadsQueueStart -->