					<h4><%= network_caption %></h4>
<%? !network_connected %>
					<p>
					This network is <strong>not</strong> enabled -
					<a href="?connect=<%= network_id %>"><strong>Connect to <%= network_caption %></strong></a>
					</p>
<%?%><%? network_connected %>
					<p>
					This network is enabled -
					<a href="?disconnect=<%= network_id %>"><strong>Disable <%= network_caption %></strong></a>
					</p>
				<div class="centertable">
					<table>
						<tr>
							<th>Indirizzo</th>
							<th>Ora</th>
							<th>Pacchetti</th>
							<th>Larghezza di banda</th>
							<th>Totale</th>
							<th>Modalità</th>
							<th>This network is enabled -</th>
							<th>User-agent</th>
							<th></th>
						</tr>
<%?%>