<!-- uploadsQueueStart -->
<%? !queue_expanded %>
					<h4><a class="noline" href="?queue_expand=<%= queue_id %>">+ <%= queue_caption %></a>
<%? queue_transfers %>
					(<%= queue_transfers %> aktiv / <%= queue_queued %> in Warteschlange, verwendet <%= queue_bandwidth %>)
<%?%>
					</h4>
<%?%><%? queue_expanded %>
					<h4><a class="noline" href="?queue_collapse=<%= queue_id %>">- <%= queue_caption %></a>
<%? queue_transfers %>
					(<%= queue_transfers %> aktiv / <%= queue_queued %> in Warteschlange, verwendet <%= queue_bandwidth %>)
<%?%>
					</h4>
				<div class="centertable">
					<table>
						<tr>
							<th>Datei</th>
							<th>Benutzer</th>
							<th>Größe</th>
							<th>Geschw.</th>
							<th>User-Agent</th>
							<th></th>
						</tr>
<%?%>
<!-- /uploadsQueueStart -->
