403 Please Share
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
 "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title><% SmartAgent %> : Please Share</title>
<meta name="robots" content="noindex, nofollow" />
<link rel="shortcut icon" href="/favicon.ico" />
<link rel="stylesheet" type="text/css" href="/style.css" />
</head>
<body>

<div class="headerborder">
	<img src="/header_1.png" width="624" height="172" alt="<% Client %>" />
</div>

<div align="center" class="page">
	<table width="800" border="0">
	<tr>
		<td>
			<h1>Please Share</h1>
			<p>
				Sorry, this server has disabled serving files to web browsers. Web browsers do not contribute content to the P2P network, and place an unequal burden on available upload resources.
			</p>
			<p>
				It's easy to gain access to the complete content of the P2P network - simply download one of the many popular P2P clients.
			</p>
			<h1>What Is <% Client %>?</h1>
			<p>
				<% Client %> is a peer-to-peer client for Windows that allows you to download any file-type found on several popular P2P networks. <% Client %> is <strong>FREE</strong> and contains <strong>NO</strong> spyware or third-party products.
			</p>
			<ul>
				<li><a href="http://shareaza.sourceforge.net/">Visit the <% Client %> Homepage</a></li>
				<li><a href="http://shareaza.sourceforge.net/?id=download">Get <% Client %> Now</a></li>
			</ul>
		</td>
	</tr>
	</table>
</div>
</body>
</html>