<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="boost" version="1.80.0" targetFramework="native" />
  <package id="boost_atomic-vc143" version="1.80.0" targetFramework="native" />
  <package id="boost_bzip2-vc143" version="1.80.0" targetFramework="native" />
  <package id="boost_chrono-vc143" version="1.80.0" targetFramework="native" />
  <package id="boost_container-vc143" version="1.80.0" targetFramework="native" />
  <package id="boost_context-vc143" version="1.80.0" targetFramework="native" />
  <package id="boost_contract-vc143" version="1.80.0" targetFramework="native" />
  <package id="boost_coroutine-vc143" version="1.80.0" targetFramework="native" />
  <package id="boost_date_time-vc143" version="1.80.0" targetFramework="native" />
  <package id="boost_exception-vc143" version="1.80.0" targetFramework="native" />
  <package id="boost_fiber-vc143" version="1.80.0" targetFramework="native" />
  <package id="boost_filesystem-vc143" version="1.80.0" targetFramework="native" />
  <package id="boost_graph-vc143" version="1.80.0" targetFramework="native" />
  <package id="boost_iostreams-vc143" version="1.80.0" targetFramework="native" />
  <package id="boost_json-vc143" version="1.80.0" targetFramework="native" />
  <package id="boost_locale-vc143" version="1.80.0" targetFramework="native" />
  <package id="boost_log_setup-vc143" version="1.80.0" targetFramework="native" />
  <package id="boost_log-vc143" version="1.80.0" targetFramework="native" />
  <package id="boost_math_c99f-vc143" version="1.80.0" targetFramework="native" />
  <package id="boost_math_c99l-vc143" version="1.80.0" targetFramework="native" />
  <package id="boost_math_c99-vc143" version="1.80.0" targetFramework="native" />
  <package id="boost_math_tr1f-vc143" version="1.80.0" targetFramework="native" />
  <package id="boost_math_tr1l-vc143" version="1.80.0" targetFramework="native" />
  <package id="boost_math_tr1-vc143" version="1.80.0" targetFramework="native" />
  <package id="boost_nowide-vc143" version="1.80.0" targetFramework="native" />
  <package id="boost_prg_exec_monitor-vc143" version="1.80.0" targetFramework="native" />
  <package id="boost_program_options-vc143" version="1.80.0" targetFramework="native" />
  <package id="boost_python310-vc143" version="1.80.0" targetFramework="native" />
  <package id="boost_random-vc143" version="1.80.0" targetFramework="native" />
  <package id="boost_regex-vc143" version="1.80.0" targetFramework="native" />
  <package id="boost_serialization-vc143" version="1.80.0" targetFramework="native" />
  <package id="boost_stacktrace_noop-vc143" version="1.80.0" targetFramework="native" />
  <package id="boost_stacktrace_windbg_cached-vc143" version="1.80.0" targetFramework="native" />
  <package id="boost_stacktrace_windbg-vc143" version="1.80.0" targetFramework="native" />
  <package id="boost_system-vc143" version="1.80.0" targetFramework="native" />
  <package id="boost_test_exec_monitor-vc143" version="1.80.0" targetFramework="native" />
  <package id="boost_thread-vc143" version="1.80.0" targetFramework="native" />
  <package id="boost_timer-vc143" version="1.80.0" targetFramework="native" />
  <package id="boost_type_erasure-vc143" version="1.80.0" targetFramework="native" />
  <package id="boost_unit_test_framework-vc143" version="1.80.0" targetFramework="native" />
  <package id="boost_wave-vc143" version="1.80.0" targetFramework="native" />
  <package id="boost_wserialization-vc143" version="1.80.0" targetFramework="native" />
  <package id="boost_zlib-vc143" version="1.80.0" targetFramework="native" />
  <package id="boost-vc143" version="1.80.0" targetFramework="native" />
</packages>