<td class="tabedg">&nbsp;</td>
</tr> </table> </td> </tr>
<tr>
	<td class="frame">
		<form method="get" action="" ID="Form1">
			<table width="100%">
				<tr>
					<td nowrap style="font-size: 7pt"><input type="hidden" name="filter_set" value="1" ID="Hidden1"><b>フィルタ:</b></td>
					<td />
					<td><input type="checkbox" id="filter_active" name="filter_active" value="1" <%= filter_active %>></td>
					<td nowrap style="font-size: 7pt"><label for="filter_active">アクティブ</label></td>
					<td />
					<td><input type="checkbox" id="filter_queued" name="filter_queued" value="1" <%= filter_queued %>></td>
					<td nowrap style="font-size: 7pt"><label for="filter_queued">キュー</label></td>
					<td />
					<td><input type="checkbox" id="filter_sources" name="filter_sources" value="1" <%= filter_sources %>></td>
					<td nowrap style="font-size: 7pt"><label for="filter_sources">ソース無し</label></td>
					<td />
					<td><input type="checkbox" id="filter_paused" name="filter_paused" value="1" <%= filter_paused %>></td>
					<td nowrap style="font-size: 7pt"><label for="filter_paused">一時停止</label></td>
					<td />
					<td><input type="checkbox" id="filter_show_all" name="filter_show_all" value="1" <%= filter_show_all %>></td>
					<td nowrap style="font-size: 7pt"><label for="filter_show_all">全てのソースを表示</label></td>
					<td />
					<td nowrap><input type="submit" value=" Set "></td>
					<td width="100%" />
					<td nowrap align="right" style="font-size: 7pt"><a href="?refresh=<%= random %>">ページを更新</a></td>
				</tr>
			</table>
		</form>
		<br>
		<table width="100%" cellspacing="0" style="border-collapse: collapse">
			<tr>
				<td class="viewheader">ダウンロードファイル</td>
				<td class="viewheader" align="center">サイズ</td>
				<td class="viewheader" align="center">進行</td>
				<td class="viewheader" align="center">速度</td>
				<td class="viewheader" align="center">ソース</td>
				<td class="viewheader" align="center">状態</td>
				<td class="viewheader" align="center">コントロール</td>
			</tr>
