<%? !queue_expanded %>
					<h4><a class="emblink" href="?queue_expand=<%= queue_id %>">+ <%= queue_caption %></a>
<%? queue_transfers %>
					<small>(<%= queue_transfers %> アクティブ / <%= queue_queued %> キュー / 使用帯域: <%= queue_bandwidth %>)</small>
<%?%>
					</h4>
<%?%><%? queue_expanded %>
					<h4><a class="emblink" href="?queue_collapse=<%= queue_id %>">- <%= queue_caption %></a>
<%? queue_transfers %>
					<small>(<%= queue_transfers %> アクティブ / <%= queue_queued %> キュー / 使用帯域: <%= queue_bandwidth %>)</small>
<%?%>
					</h4>
					<table width="100%" cellspacing="0" style="border-collapse: collapse;">
						<tr>
							<td class="viewheader">ファイル</td>
							<td class="viewheader">ユーザー</td>
							<td class="viewheader" align="center">サイズ</td>
							<td class="viewheader" align="center">速度</td>
							<td class="viewheader">ユーザーエージェント</td>
							<td class="viewheader"></td>
						</tr>
<%?%>
