<%? !queue_expanded %>
					<h4><a class="emblink" href="?queue_expand=<%= queue_id %>">+ <%= queue_caption %></a>
<%? queue_transfers %>
					<small>(<%= queue_transfers %> actifs / <%= queue_queued %> en suspens, utilisant <%= queue_bandwidth %>)</small>
<%?%>
					</h4>
<%?%><%? queue_expanded %>
					<h4><a class="emblink" href="?queue_collapse=<%= queue_id %>">- <%= queue_caption %></a>
<%? queue_transfers %>
					<small>(<%= queue_transfers %> actifs / <%= queue_queued %> en suspens, utilisant <%= queue_bandwidth %>)</small>
<%?%>
					</h4>
					<table width="100%" cellspacing="0" style="border-collapse: collapse;">
						<tr>
							<td class="viewheader">Fichier</td>
							<td class="viewheader">Utilisateur</td>
							<td class="viewheader" align="center">Taille</td>
							<td class="viewheader" align="center">Vitesse</td>
							<td class="viewheader">User-Agent</td>
							<td class="viewheader"></td>
						</tr>
<%?%>
