<!-- uploadsQueueStart -->
<%? !queue_expanded %>
					<h4><a class="noline" href="?queue_expand=<%= queue_id %>">+ <%= queue_caption %></a>
<%? queue_transfers %>
					(<%= queue_transfers %> aktivë / <%= queue_queued %> në radhë, po përdoret <%= queue_bandwidth %>)
<%?%>
					</h4>
<%?%><%? queue_expanded %>
					<h4><a class="noline" href="?queue_collapse=<%= queue_id %>">- <%= queue_caption %></a>
<%? queue_transfers %>
					(<%= queue_transfers %> aktivë / <%= queue_queued %> në radhë, po përdoret <%= queue_bandwidth %>)
<%?%>
					</h4>
				<div class="centertable">
					<table>
						<tr>
							<th>Skedë</th>
							<th>Përdoruesi</th>
							<th>Përmasa</th>
							<th>Shpejtësi</th>
							<th>Agjenti Përdorues</th>
							<th></th>
						</tr>
<%?%>
<!-- /uploadsQueueStart -->