
<!-- downloadsTop-->
</ul>
<div  id="content">
	<div id="functions"><a href="?refresh=<%= random %>">Lap frissítése</a></div>
		<div id="filters">	
			<form method="get" action="" ID="Form1">
						<input type="hidden" name="filter_set" value="1" ID="Hidden1">
						<b>Szűrő:</b>
						<input type="checkbox" id="filter_active" name="filter_active" value="1" <%= filter_active %>>
						<label for="filter_active">Aktív</label>
						<input type="checkbox" id="filter_queued" name="filter_queued" value="1" <%= filter_queued %>>
						<label for="filter_queued">Sorbanáll</label>
						<input type="checkbox" id="filter_sources" name="filter_sources" value="1" <%= filter_sources %>>
						<label for="filter_sources">Nincs forrás</label>
						<input type="checkbox" id="filter_paused" name="filter_paused" value="1" <%= filter_paused %>>
						<label for="filter_paused">Szüneteltetve</label>
						<input type="checkbox" id="filter_show_all" name="filter_show_all" value="1" <%= filter_show_all %>>
						<label for="filter_show_all">Minden forrás</label>
						<input type="submit" value=" Beállít "><br />
			</form>
		</div>
		<br />
<table>
	<tr>
				<th>Fájlnév</th>
				<th>Méret</th>
				<th>Állapot</th>
				<th>Sebesség</th>
				<th>Források</th>
				<th>Helyzet</th>
				<th>Lehetőségek</th>
			</tr>
<!-- /downloadsTop-->