									<tr>
										<td class="filename"><div style="margin-left: 1em;"><%= source_caption %></div></td>
										<td><%= source_volume %></td>
										<td></td>
										<td><%= source_speed %></td>
										<td><%= source_agent %></td>
										<td><%= source_status %></td>
										<td>
											<a href="?modify_id=<%= source_id %>&modify_action=access">Σύνδεση</a> -
											<a href="?modify_id=<%= source_id %>&modify_action=forget">Απολησμόνηση</a>
										</td>
									</tr>