
<!-- downloadsTop-->
</ul>
<div  id="content">
	<div id="functions"><a href="?refresh=<%= random %>">Ανανέωση σελίδας</a></div>
		<form method="get" action="">
			<div id="filters">
				<input type="hidden" name="filter_set" value="1" />
				<b>Φίλτρο:</b>
				<input type="checkbox" id="filter_active" name="filter_active" value="1" <%= filter_active %> />
				<label for="filter_active">Ενεργό</label>
				<input type="checkbox" id="filter_queued" name="filter_queued" value="1" <%= filter_queued %> />
				<label for="filter_queued">Σε ουρά</label>
				<input type="checkbox" id="filter_sources" name="filter_sources" value="1" <%= filter_sources %> />
				<label for="filter_sources">Χωρίς πηγές</label>
				<input type="checkbox" id="filter_paused" name="filter_paused" value="1" <%= filter_paused %> />
				<label for="filter_paused">Σταματημένο</label>
				<input type="checkbox" id="filter_show_all" name="filter_show_all" value="1" <%= filter_show_all %> />
				<label for="filter_show_all">Προβολή όλων των πηγών</label>
				<input type="submit" value=" Ορισμός " /><br/>
			</div>
		</form><br/>
<table>
	<tr>
				<th>Όνομα Αρχείου</th>
				<th>Μέγεθος</th>
				<th>Πρόοδος</th>
				<th>Ταχύτητα</th>
				<th>Πηγές</th>
				<th>Κατάσταση</th>
				<th>Επιλογές</th>
			</tr>
<!-- /downloadsTop-->