					<h4><%= network_caption %></h4>
<%? !network_connected %>
					<p style="font-size: 7pt;">
					Esta red <b>no</b> est&#225; habilitada -
					<a href="?connect=<%= network_id %>"><b>Conectar a <%= network_caption %></b></a>
					</p>
<%?%><%? network_connected %>
					<p style="font-size: 7pt;">
					Esta red est&#225; habilitada -
					<a href="?disconnect=<%= network_id %>"><b>Desconectar de <%= network_caption %></b></a>
					</p>
					<table width="100%" cellspacing="0" style="border-collapse: collapse;">
						<tr>
							<td class="viewheader">Direcci&#243;n</td>
							<td class="viewheader" align="center">Tiempo</td>
							<td class="viewheader" align="center">Paquetes</td>
							<td class="viewheader" align="center">Ancho de banda</td>
							<td class="viewheader" align="center">Total</td>
							<td class="viewheader" align="center">Modo</td>
							<td class="viewheader" align="center">Leaves</td>
							<td class="viewheader">Cliente</td>
							<td class="viewheader"></td>
						</tr>
<%?%>
