									<tr>
										<td nowrap class="viewrow">&nbsp;&nbsp;&nbsp;&nbsp;<%= source_caption %></td>
										<td nowrap class="viewrow" align="center"><%= source_volume %></td>
										<td nowrap class="viewrow" align="center"></td>
										<td nowrap class="viewrow" align="center"><%= source_speed %></td>
										<td nowrap class="viewrow" align="center"><%= source_agent %></td>
										<td nowrap class="viewrow" align="center"><%= source_status %></td>
										<td nowrap class="viewrow" align="center">
											<a href="?modify_id=<%= source_id %>&modify_action=access">
                                    F&aring; tilgang</a> -
                                    <a href="?modify_id=<%= source_id %>&modify_action=forget">
                                    Glem</a></td></tr>