						<meta http-equiv="Content-Language" content="no-bok">
                        <tr>
							<td nowrap class="viewrow"><%= row_caption %></td>
							<td nowrap class="viewrow" align="center"><%= row_time %></td>
							<td nowrap class="viewrow" align="center"><%= row_packets %></td>
							<td nowrap class="viewrow" align="center"><%= row_bandwidth %></td>
							<td nowrap class="viewrow" align="center"><%= row_total %></td>
							<td nowrap class="viewrow" align="center"><%= row_mode %></td>
							<td nowrap class="viewrow" align="center"><%= row_leaves %></td>
							<td nowrap class="viewrow"><%= row_agent %></td>
							<td nowrap class="viewrow" align="center"><a href="?drop=<%= row_id %>">X</a></td></tr>