
<!-- downloadsTop-->
</ul>
<div  id="content">
	<div id="functions"><a href="?refresh=<%= random %>">Pagina herladen</a></div>
		<form method="get" action="">
			<div id="filters">
				<input type="hidden" name="filter_set" value="1" />
				<b>Filter:</b>
				<input type="checkbox" id="filter_active" name="filter_active" value="1" <%= filter_active %> />
				<label for="filter_active">Actief</label>
				<input type="checkbox" id="filter_queued" name="filter_queued" value="1" <%= filter_queued %> />
				<label for="filter_queued">Wachtrij</label>
				<input type="checkbox" id="filter_sources" name="filter_sources" value="1" <%= filter_sources %> />
				<label for="filter_sources">Geen bronnen</label>
				<input type="checkbox" id="filter_paused" name="filter_paused" value="1" <%= filter_paused %> />
				<label for="filter_paused">Gepauzeerd</label>
				<input type="checkbox" id="filter_show_all" name="filter_show_all" value="1" <%= filter_show_all %> />
				<label for="filter_show_all">Alle bronnen tonen</label>
				<input type="submit" value=" Instellen " /><br/>
			</div>
		</form><br/>
<table>
	<tr>
				<th>Bestandsnaam</th>
				<th>Grootte</th>
				<th>Vooruitgang</th>
				<th>Snelheid</th>
				<th>Bronnen</th>
				<th>Status</th>
				<th>Opties</th>
			</tr>
<!-- /downloadsTop-->