					<h4><%= network_caption %></h4>
<%? !network_connected %>
					<p style="font-size: 7pt;">
					Je bent <b>niet</b> verbonden met dit netwerk -
					<a href="?connect=<%= network_id %>"><b>Verbinden met <%= network_caption %></b></a>
					</p>
<%?%><%? network_connected %>
					<p style="font-size: 7pt;">
					Je bent verbonden met dit netwerk -
					<a href="?disconnect=<%= network_id %>"><b>Verbinding Verbreken met <%= network_caption %></b></a>
					</p>
					<table width="100%" cellspacing="0" style="border-collapse: collapse;">
						<tr>
							<td class="viewheader">Adres</td>
							<td class="viewheader" align="center">Tijd</td>
							<td class="viewheader" align="center">Pakketten</td>
							<td class="viewheader" align="center">Bandbreedte</td>
							<td class="viewheader" align="center">Totaal</td>
							<td class="viewheader" align="center">Modus</td>
							<td class="viewheader" align="center">Leaves</td>
							<td class="viewheader">Cli&#233;nt</td>
							<td class="viewheader"></td>
						</tr>
<%?%>
