					<h4><%= network_caption %></h4>
<%? !network_connected %>
					<p>
					Je bent <b>niet</b> verbonden met dit netwerk -
					<a href="?connect=<%= network_id %>"><strong>Verbinden met <%= network_caption %></strong></a>
					</p>
<%?%><%? network_connected %>
					<p>
					Je bent verbonden met dit netwerk -
					<a href="?disconnect=<%= network_id %>"><strong>Verbinding Verbreken met <%= network_caption %></strong></a>
					</p>
				<div class="centertable">
					<table>
						<tr>
							<th>Adres</th>
							<th>Tijd</th>
							<th>Pakketten</th>
							<th>Bandbreedte</th>
							<th>Totaal</th>
							<th>Modus</th>
							<th>Leaves</th>
							<th>Cli&#233;nt</th>
							<th></th>
						</tr>
<%?%>
