
<!-- downloadsTop-->
</ul>
<div  id="content">
	<div id="functions"><a href="?refresh=<%= random %>">刷新页面</a></div>
		<form method="get" action="">
			<div id="filters">
				<input type="hidden" name="filter_set" value="1" />
				<b>过滤:</b>
				<input type="checkbox" id="filter_active" name="filter_active" value="1" <%= filter_active %> />
				<label for="filter_active">活动的</label>
				<input type="checkbox" id="filter_queued" name="filter_queued" value="1" <%= filter_queued %> />
				<label for="filter_queued">队列中</label>
				<input type="checkbox" id="filter_sources" name="filter_sources" value="1" <%= filter_sources %> />
				<label for="filter_sources">无资源</label>
				<input type="checkbox" id="filter_paused" name="filter_paused" value="1" <%= filter_paused %> />
				<label for="filter_paused">已暂停</label>
				<input type="checkbox" id="filter_show_all" name="filter_show_all" value="1" <%= filter_show_all %> />
				<label for="filter_show_all">显示所有资源</label>
				<input type="submit" value=" 设置 " /><br/>
			</div>
		</form><br/>
<table>
	<tr>
				<th>下载文件</th>
				<th>大小</th>
				<th>进程</th>
				<th>速度</th>
				<th>资源</th>
				<th>状态</th>
				<th>控制</th>
			</tr>
<!-- /downloadsTop-->