					<h4><%= network_caption %></h4>
<%? !network_connected %>
					<p style="font-size: 8pt;">
					此网络<b>未</b>启用 -
					<a href="?connect=<%= network_id %>"><b>连接到 <%= network_caption %></b></a>
					</p>
<%?%><%? network_connected %>
					<p style="font-size: 8pt;">
					此网络已启用 -
					<a href="?disconnect=<%= network_id %>"><b>禁用 <%= network_caption %></b></a>
					</p>
					<table width="100%" cellspacing="0" style="border-collapse: collapse;">
						<tr>
							<td class="viewheader">地址</td>
							<td class="viewheader" align="center">时间</td>
							<td class="viewheader" align="center">数据包</td>
							<td class="viewheader" align="center">带宽</td>
							<td class="viewheader" align="center">总计</td>
							<td class="viewheader" align="center">模式</td>
							<td class="viewheader" align="center">Leaf</td>
							<td class="viewheader">用户代理</td>
							<td class="viewheader"></td>
						</tr>
<%?%>
