<!-- uploadsQueueStart -->
<%? !queue_expanded %>
					<h4><a class="noline" href="?queue_expand=<%= queue_id %>">+ <%= queue_caption %></a>
<%? queue_transfers %>
					(<%= queue_transfers %> 活动 / <%= queue_queued %> 列队，使用中 <%= queue_bandwidth %>)
<%?%>
					</h4>
<%?%><%? queue_expanded %>
					<h4><a class="noline" href="?queue_collapse=<%= queue_id %>">- <%= queue_caption %></a>
<%? queue_transfers %>
					(<%= queue_transfers %> 活动 / <%= queue_queued %> 列队，使用中 <%= queue_bandwidth %>)
<%?%>
					</h4>
				<div class="centertable">
					<table>
						<tr>
							<th>文件</th>
							<th>用户</th>
							<th>大小</th>
							<th>速度</th>
							<th>用户代理</th>
							<th></th>
						</tr>
<%?%>
<!-- /uploadsQueueStart -->